
<input type="text" id="searchField" placeholder="Search"> <input id="btnSearch" type="button" value="Search" />
    
<div class="searchheader">
    Search Articles

</div>
<div>

</div>
<div class="categoryheader">
    Browse By Category
</div>
<div>

</div>
<div class="rankheader">
    Search Rankings by Category

</div>
<div>

</div>