<div id="fb-share" class="fb-share-button" data-href="http://24.11.22.113:80/article/@Model.ArticleId/" data-width="90" data-height="25" data-type="button_count"></div>
@*<script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
</script>
<script type="IN/Share" data-url="http://localhost:64915/Article/@Model.ArticleId" data-counter="right">
</script>*@
@section scripts{

}